### Imports

In [1]:
import numpy as np

import sympy as sym

import itertools

import pandas as pd

In [2]:
from operator import itemgetter

In [3]:
import matplotlib.pyplot as plt

import matplotlib

from mpl_toolkits.axes_grid1 import make_axes_locatable

In [4]:
import matplotlib.colors as colors

plt.rcParams["font.weight"] = "bold"
plt.rcParams["axes.labelweight"] = "bold"
plt.rcParams["font.size"] = 13

## Evolutionary simulations

In [5]:
cs = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]

In [6]:
names1 = [f"p_{i}" for i in range(1, 3)] + ["t", "cooperation"]
names2 = [f"p_{i}" for i in range(1, 5)] + ["t", "cooperation"]
names3 = [f"p_{i}" for i in range(1, 9)] + ["t", "cooperation"]

In [15]:
def frequencies(df, max_steps=10 ** 7):

    frequencies = []
    previous = 0
    for value in df["t"][1:]:
        frequencies.append(value - previous)
        previous = value
    frequencies.append(max_steps - previous)

    df["frequencies"] = np.array(frequencies)
    df["frequencies norm"] = np.array(frequencies) / max_steps

    return df

## $\beta=0.1$

In [30]:
beta = 0.1

dfs = []

for sdim, label, max_step, name in zip([2, 4, 8],
                                       ['one', 'two', 'three'],
                                       [10 ** 7, 10 ** 7, 2 * 10 ** 7], 
                                       [names1, names2, names3]):
    
    for c in cs:

        df = pd.read_csv(f"../data/matlab_data/bits_{sdim}_beta_0.1_seed_1_c_{c}.csv", names=name)
        
        df = df.drop_duplicates()

        df['beta'] = beta
        df['c'] = c
        df['type'] = f'{label}-bit'
        
        df = frequencies(df, max_step)

        dfs.append(df)

In [32]:
df = pd.concat(dfs)

In [34]:
df.to_csv("../evolution_for_beta_0_1.csv")

## $\beta=1$

In [37]:
beta = 1

dfs = []

for sdim, label, max_step, name in zip([2, 4, 8],
                                       ['one', 'two', 'three'],
                                       [10 ** 7, 10 ** 7, 2 * 10 ** 7], 
                                       [names1, names2, names3]):
    
    for c in cs:

        df = pd.read_csv(f"../data/matlab_data/bits_{sdim}_beta_{beta}_seed_1_c_{c}.csv", names=name)
        
        df = df.drop_duplicates()

        df['beta'] = beta
        df['c'] = c
        df['type'] = f'{label}-bit'
        
        df = frequencies(df, max_step)

        dfs.append(df)

In [38]:
df = pd.concat(dfs)

In [39]:
df.to_csv("../evolution_for_beta_1.csv")

## $\beta = 10$

In [40]:
beta = 10

dfs = []

for sdim, label, max_step, name in zip([2, 4, 8],
                                       ['one', 'two', 'three'],
                                       [10 ** 7, 10 ** 7, 2 * 10 ** 7], 
                                       [names1, names2, names3]):
    
    for c in cs:

        df = pd.read_csv(f"../data/matlab_data/bits_{sdim}_beta_{beta}_seed_1_c_{c}.csv", names=name)
        
        df = df.drop_duplicates()

        df['beta'] = beta
        df['c'] = c
        df['type'] = f'{label}-bit'
        
        df = frequencies(df, max_step)

        dfs.append(df)

In [46]:
for sdim, label, max_step, name in zip([2, 4],
                                       ['one', 'two', 'three'],
                                       [10 ** 7, 10 ** 7, 2 * 10 ** 7], 
                                       [names1, names2, names3]):
    
    for c in cs:

        df = pd.read_csv(f"../data/matlab_data/bits_{sdim}_beta_{beta}_seed_2_c_{c}.csv", names=name)
        
        df = df.drop_duplicates()

        df['beta'] = beta
        df['c'] = c
        df['type'] = f'{label}-bit'
        
        df = frequencies(df, max_step)

        dfs.append(df)

In [47]:
df = pd.concat(dfs)

In [48]:
df

,p_1,p_2,t,cooperation,beta,c,type,frequencies,frequencies norm,p_3,p_4,p_5,p_6,p_7,p_8
0,0.000000,0.000000,0,0.000000,10,0.0,one-bit,16,1.600000e-06,NaN,NaN,NaN,NaN,NaN,NaN
1,0.563679,0.230434,16,0.345606,10,0.0,one-bit,1,1.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN
2,0.345231,0.773513,17,0.541569,10,0.0,one-bit,7,7.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN
3,0.315554,0.133239,24,0.162946,10,0.0,one-bit,2,2.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN
4,0.862921,0.294021,26,0.682026,10,0.0,one-bit,6,6.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0.356947,0.621388,9937818,0.484132,10,1.0,two-bit,6,6.000000e-07,0.358953,0.584634,NaN,NaN,NaN,NaN
466,0.522066,0.245513,9937824,0.370452,10,1.0,two-bit,11,1.100000e-06,0.205701,0.487549,NaN,NaN,NaN,NaN
467,0.696916,0.232942,9937835,0.100310,10,1.0,two-bit,8,8.000000e-07,0.497580,0.033809,NaN,NaN,NaN,NaN
468,0.809656,0.066689,9937843,0.001770,10,1.0,two-bit,38159,3.815900e-03,0.258083,0.001175,NaN,NaN,NaN,NaN
469,0.142144,0.549389,9976002,0.002491,10,1.0,two-bit,23998,2.399800e-03,0.178425,0.000820,NaN,NaN,NaN,NaN

In [49]:
df.to_csv("../evolution_for_beta_10.csv")