In [1]:
import pandas as pd

In [2]:
import itertools

In [3]:
import glob

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import matplotlib.pyplot as plt

import numpy as np

In [6]:
def prepare_data(dimensions):
    
    columns = (['player index', 'co player index'] + [f'p{i}' for i in range(1, 17)] + 
               [f'q{i}' for i in range(1, 17)] + ['e', 'cc', 'cd', 'dc', 'dd'])
    
    files = glob.glob(f"../src/evolutionary_simulations/cooperation_data/memone/error_0.01_n_{dimensions}_*.csv")
    
#     files = glob.glob(f"../src/evolutionary_simulations/cooperation_data/error_0.01_sdim_{dimensions}_*")
    
    dfs = [pd.read_csv(file, header=None, names=columns) for file in files]

    df = pd.concat(dfs)
    
    rhos = df[df['player index'] == df['co player index']]
    rhos['rho'] = 0
    for i, row in rhos.iterrows():
        rhos.loc[i, 'rho'] = row['cc'] + row['cd']
    df = df.merge(rhos[['player index', 'rho']], how='left', left_on='player index', right_on='player index')
    
    
    df['rho p'] = df.apply(lambda row: row['cc'] + row['cd'], axis=1)

    df['rho q'] = df.apply(lambda row: row['cc'] + row['dc'], axis=1)

    df['x'] = df.apply(lambda row: row['rho'] - row['rho p'], axis=1)

    df['y'] = df.apply(lambda row: row['rho'] - row['rho q'], axis=1)
    
    df['y / x'] = df['y'] / df['x']
    
    return df

In [7]:
def vaquero_method(df):
    
    sets = []

    for j, group in df.groupby('player index'):

        Q1, Q2, Q3, Q4 = [], [], [], []

        for i, row in group.iterrows():

            if row['player index'] != row['co player index']:

                if row['x'] > 0 and row['y'] > 0:
                    Q1.append(row['y'] / row['x'])

                if row['x'] < 0 and row['y'] <= 0:

                    Q2.append(row['y'] / row['x'])

                if row['x'] <= 0 and row['y'] > 0:
                    Q3.append(row['co player index'])

                if row['x'] == 0 and row['y'] == 0:

                    Q4.append(row['co player index'])

        sets.append([j, Q1, Q2, Q3, Q4])
    return sets

In [8]:
def payoffs_of_p(rho, b, c):
    return (b * rho) - (c * rho)

def payoffs_of_q(rho_p, rho_q, b, c):
    return (b * rho_p) - (c * rho_q)

### Mem two

In [9]:
memory_two = prepare_data(2)

In [10]:
sets = vaquero_method(memory_two)

In [11]:
df = pd.DataFrame(sets, columns=['player index', 'Q1 (y / x)', 'Q2 (y / x)', 'Q3 (indices)', 'Q4 (indices)'])

In [13]:
df

,player index,Q1 (y / x),Q2 (y / x),Q3 (indices),Q4 (indices)
0,32778,"[1.525847282789215, 1.5231784085722515, 1.0069...",[],[],[]
1,33050,"[2.041128718901453, 2.04102469438476, 1.015438...","[105.32258073180721, 105.33225815197075, 105.3...",[],[]
2,34954,"[1.5258995892031346, 1.5232304580751057, 1.010...",[],[],[]
3,35226,"[2.0413337990593474, 2.041230734887535, 1.0207...",[],[],[]
4,36874,"[1.5258220494870627, 1.5258220475233837, 1.007...",[],[],[]
5,36880,"[2.077575666558791, 1.552157121421291, 2.07216...",[],[],[]
6,37146,"[2.0411287047516518, 2.0411287061466945, 1.015...",[],[],[]
7,39050,"[1.5258486034981635, 1.525848602175977, 1.0104...",[],[],[]
8,39322,"[2.0412328196584757, 2.0412328175008234, 1.020...",[],[],[]
9,61450,"[1.515517874438259, 2.010959696892494, 1.01031...",[],[],[]
10,61456,"[2.0412328196584757, 2.0412328187459514, 2.041...",[],[],[]

In [14]:
Q3_empty = []
Q4_empty = []

for i, row in df.iterrows():
    Q3_empty.append(len(row['Q3 (indices)']) == 0)
    Q4_empty.append(len(row['Q4 (indices)']) == 0)

In [15]:
df['Q3 empty'] = Q3_empty
df['Q4 empty'] = Q4_empty

In [20]:
order_from_paper = [36874,32778,34954,39050,39322,35226,33050,37146,36880,61450,61456]

sorterIndex = dict(zip(order_from_paper, range(len(order_from_paper))))

In [23]:
df['player index'] = df['player index'].map(sorterIndex)

In [26]:
df = df.sort_values('player index')

In [27]:
for i, row in df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)].iterrows():
    ub = False
    lb = False
    
    if row['Q1 (y / x)']:
        lb = max(row['Q1 (y / x)'])
    if row['Q2 (y / x)']:
        ub = min(row['Q2 (y / x)'])
        
#     if lb <= ub:
    
    print(f"{row['player index']}: {round(lb, 2)} <= b/c <= {round(ub, 2)}")

0: 1.53 <= b/c <= 0
1: 1.53 <= b/c <= 0
2: 1.53 <= b/c <= 0
3: 1.53 <= b/c <= 0
4: 2.04 <= b/c <= 0
5: 2.04 <= b/c <= 0
6: 2.04 <= b/c <= 105.32
7: 2.04 <= b/c <= 0
8: 2.08 <= b/c <= 0
9: 2.02 <= b/c <= 0
10: 2.04 <= b/c <= 0

### One bit

In [9]:
one_bit = prepare_data(2)

In [10]:
sets = vaquero_method(one_bit)

In [11]:
pd.DataFrame(sets, columns=['player index', 'Q1 (y / x)', 'Q2 (y / x)', 'Q3 (indices)', 'Q4 (indices)'])

,player index,Q1 (y / x),Q2 (y / x),Q3 (indices),Q4 (indices)
0,1,[],[],[],[]
1,2,[],[],[1.0],[3.0]
2,3,[1.0204081632653061],[1.0204081632653061],[],[2.0]
3,4,[],[],"[1.0, 2.0, 3.0]",[]

In [12]:
one_bit[one_bit['player index'] == 1]

,player index,co player index,p1,p2,q1,q2,e,cc,cd,dc,dd,rho,rho p,rho q,x,y,y / x
0,1,1,0,0,0,0,0.01,0.000100,0.009900,0.009900,0.980100,0.01,0.01,0.0100,0.0,0.0000,NaN
1,1,2,0,0,0,1,0.01,0.009802,0.000198,0.970398,0.019602,0.01,0.01,0.9802,0.0,-0.9702,-inf
2,1,3,0,0,1,0,0.01,0.000198,0.009802,0.019602,0.970398,0.01,0.01,0.0198,0.0,-0.0098,-inf
3,1,4,0,0,1,1,0.01,0.009900,0.000100,0.980100,0.009900,0.01,0.01,0.9900,0.0,-0.9800,-inf

### Two bits

In [13]:
two_bit = prepare_data(4)

In [14]:
sets = vaquero_method(two_bit)

In [15]:
df = pd.DataFrame(sets, columns=['player index', 'Q1 (y / x)', 'Q2 (y / x)', 'Q3 (indices)', 'Q4 (indices)'])

In [16]:
Q3_empty = []
Q4_empty = []

for i, row in df.iterrows():
    Q3_empty.append(len(row['Q3 (indices)']) == 0)
    Q4_empty.append(len(row['Q4 (indices)']) == 0)

In [17]:
df['Q3 empty'] = Q3_empty
df['Q4 empty'] = Q4_empty

In [18]:
df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)]

,player index,Q1 (y / x),Q2 (y / x),Q3 (indices),Q4 (indices),Q3 empty,Q4 empty
0,1,[],[],[],[],True,True
2,3,"[1.041232819593638, 1.0, 0.7928423310639318, 1...",[],[],[],True,True
4,5,"[1.0412328196234282, 1.0, 1.0412123626241727]",[2882353642.7057486],[],[],True,True
8,9,[19.503333337744937],"[1.5152617371163994, 51.897825271308754, 1.361...",[],[],True,True
14,15,"[1.020306234430547, 1.3437206210817625, 1.0494...",[19.503623311907123],[],[],True,True

In [19]:
two_bit[two_bit['player index'] == 15]

,player index,co player index,p1,p2,p3,p4,q1,q2,q3,q4,...,cc,cd,dc,dd,rho,rho p,rho q,x,y,y / x
240,15,1,1,1,1,0,0,0,0,0,...,0.000295,0.029207,0.009705,0.960793,0.989897,0.029502,0.010000,0.960395,0.979897,1.020306
241,15,2,1,1,1,0,0,0,0,1,...,0.166435,0.334463,0.166384,0.332718,0.989897,0.500898,0.332819,0.488999,0.657078,1.343721
242,15,3,1,1,1,0,0,0,1,0,...,0.018621,0.063206,0.018345,0.899828,0.989897,0.081827,0.036966,0.908070,0.952931,1.049402
243,15,4,1,1,1,0,0,0,1,1,...,0.281692,0.293876,0.144251,0.280181,0.989897,0.575568,0.425943,0.414329,0.563953,1.361126
244,15,5,1,1,1,0,0,1,0,0,...,0.008886,0.441635,0.218089,0.331390,0.989897,0.450520,0.226975,0.539376,0.762922,1.414452
245,15,6,1,1,1,0,0,1,0,1,...,0.202428,0.398745,0.198422,0.200405,0.989897,0.601173,0.400850,0.388723,0.589047,1.515337
246,15,7,1,1,1,0,0,1,1,0,...,0.164833,0.452118,0.153722,0.229327,0.989897,0.616951,0.318555,0.372946,0.671342,1.800103
247,15,8,1,1,1,0,0,1,1,1,...,0.334463,0.332718,0.166435,0.166384,0.989897,0.667181,0.500898,0.322716,0.488999,1.515262
248,15,9,1,1,1,0,1,0,0,0,...,0.327875,0.230201,0.114049,0.327875,0.989897,0.558076,0.441924,0.431821,0.547973,1.268982
249,15,10,1,1,1,0,1,0,0,1,...,0.647747,0.230857,0.115554,0.005841,0.989897,0.878605,0.763301,0.111292,0.226595,2.036042
250,15,11,1,1,1,0,1,0,1,0,...,0.969270,0.019963,0.010178,0.000589,0.989897,0.989233,0.979448,0.000664,0.010449,15.738158
251,15,12,1,1,1,0,1,0,1,1,...,0.969937,0.019769,0.010086,0.000207,0.989897,0.989706,0.980023,0.000190,0.009873,51.897938
252,15,13,1,1,1,0,1,1,0,0,...,0.969597,0.019988,0.010197,0.000218,0.989897,0.989585,0.979794,0.000311,0.010103,32.461123
253,15,14,1,1,1,0,1,1,0,1,...,0.969932,0.019775,0.010089,0.000205,0.989897,0.989706,0.980021,0.000190,0.009876,51.897664
254,15,15,1,1,1,0,1,1,1,0,...,0.979898,0.009999,0.009999,0.000104,0.989897,0.989897,0.989897,0.000000,0.000000,NaN
255,15,16,1,1,1,0,1,1,1,1,...,0.980003,0.009899,0.009997,0.000101,0.989897,0.989902,0.990000,-0.000005,-0.000103,19.503623

In [20]:
2 ** 4

16

In [22]:
for i, row in df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)].iterrows():
    ub = False
    lb = False
    
    if row['Q1 (y / x)']:
        lb = max(row['Q1 (y / x)'])
    if row['Q2 (y / x)']:
        ub = min(row['Q2 (y / x)'])
        
#     if lb <= ub:
    
    print(f"{row['player index']}: {round(lb, 2)} <= b/c <= {round(ub, 2)}")

1: 0 <= b/c <= 0
3: 1.04 <= b/c <= 0
5: 1.04 <= b/c <= 2882353642.71
9: 19.5 <= b/c <= 1.02
15: 51.9 <= b/c <= 19.5

In [44]:
index = 9
df[(df['player index'] == index)].round(3)

,player index,Q1 (y / x),Q2 (y / x),Q3 (indices),Q4 (indices),Q3 empty,Q4 empty
8,9,[19.503333337744937],"[1.5152617371163994, 51.897825271308754, 1.361...",[],[],True,True

In [68]:
index = 3
two_bit[(two_bit['player index'] == index) & (two_bit['co player index'] == index)].iloc[0]

player index       3.000000
co player index    3.000000
p1                 0.000000
p2                 0.000000
p3                 1.000000
p4                 0.000000
q1                 0.000000
q2                 0.000000
q3                 1.000000
q4                 0.000000
e                  0.010000
cc                 0.005048
cd                 0.249952
dc                 0.249952
dd                 0.495048
rho                0.255000
rho p              0.255000
rho q              0.255000
x                  0.000000
y                  0.000000
y / x                   NaN
Name: 50, dtype: float64

In [66]:
index = 3
row = two_bit[(two_bit['player index'] == index) & (two_bit['co player index'] == 14)].iloc[0]

In [67]:
payoffs_of_p(row['rho'], b=row['y / x'] + 0.1, c=1)

-148749997.85548145

In [42]:
payoffs_of_q(row['rho p'], row['rho q'], b=row['y / x'] + 0.1, c=1)

735000179.2369367

In [27]:
two_bit[(two_bit['player index'] == index)]

,player index,co player index,p1,p2,p3,p4,q1,q2,q3,q4,...,cc,cd,dc,dd,rho,rho p,rho q,x,y,y / x
96,5,1,0,1,0,0,0,0,0,0,...,0.000197,0.019505,0.009803,0.970495,0.255,0.019702,0.010000,2.352980e-01,2.450000e-01,1.041233e+00
97,5,2,0,1,0,0,0,0,0,1,...,0.018345,0.018621,0.899828,0.063206,0.255,0.036966,0.918173,2.180341e-01,-6.631734e-01,-3.041604e+00
98,5,3,0,1,0,0,0,0,1,0,...,0.007355,0.247645,0.247645,0.497355,0.255,0.255000,0.255000,6.700001e-10,6.700001e-10,1.000000e+00
99,5,4,0,1,0,0,0,0,1,1,...,0.243069,0.011931,0.497031,0.247969,0.255,0.255000,0.740100,6.000000e-10,-4.851000e-01,-8.084999e+08
100,5,5,0,1,0,0,0,1,0,0,...,0.085162,0.169838,0.169838,0.575162,0.255,0.255000,0.255000,0.000000e+00,0.000000e+00,NaN
101,5,6,0,1,0,0,0,1,0,1,...,0.247550,0.007450,0.492550,0.252450,0.255,0.255000,0.740100,2.000000e-10,-4.851000e-01,-2.425500e+09
102,5,7,0,1,0,0,0,1,1,0,...,0.012989,0.216344,0.437710,0.332957,0.255,0.229333,0.450699,2.566690e-02,-1.956990e-01,-7.624568e+00
103,5,8,0,1,0,0,0,1,1,1,...,0.019769,0.000207,0.969937,0.010086,0.255,0.019977,0.989706,2.350233e-01,-7.347065e-01,-3.126100e+00
104,5,9,0,1,0,0,1,0,0,0,...,0.000205,0.019775,0.010089,0.969932,0.255,0.019979,0.010294,2.350206e-01,2.447064e-01,1.041212e+00
105,5,10,0,1,0,0,1,0,0,1,...,0.018942,0.018851,0.898269,0.063938,0.255,0.037793,0.917211,2.172067e-01,-6.622107e-01,-3.048758e+00
106,5,11,0,1,0,0,1,0,1,0,...,0.007450,0.247550,0.252450,0.492550,0.255,0.255000,0.259900,2.000000e-10,-4.900000e-03,-2.450000e+07
107,5,12,0,1,0,0,1,0,1,1,...,0.247645,0.007355,0.497355,0.247645,0.255,0.255000,0.745000,6.700001e-10,-4.900000e-01,-7.313432e+08
108,5,13,0,1,0,0,1,1,0,0,...,0.085358,0.169642,0.174542,0.570458,0.255,0.255000,0.259900,6.000000e-10,-4.899999e-03,-8.166665e+06
109,5,14,0,1,0,0,1,1,0,1,...,0.249952,0.005048,0.495048,0.249952,0.255,0.255000,0.745000,-1.700000e-10,-4.900000e-01,2.882354e+09
110,5,15,0,1,0,0,1,1,1,0,...,0.008886,0.218089,0.441635,0.331390,0.255,0.226975,0.450520,2.802493e-02,-1.955204e-01,-6.976660e+00
111,5,16,0,1,0,0,1,1,1,1,...,0.019505,0.000197,0.970495,0.009803,0.255,0.019702,0.990000,2.352980e-01,-7.350000e-01,-3.123698e+00

In [35]:
max(df[df['player index'] == 15]['Q1 (y / x)'])

[1.020306234430547,
 1.3437206210817625,
 1.0494022874432454,
 1.3611263417362822,
 1.4144515802339694,
 1.515336844350368,
 1.8001032943045303,
 1.515261735387235,
 1.2689824441476485,
 2.0360422521213506,
 15.738157673674284,
 51.8979376368892,
 32.46112270446797,
 51.89766379830998]

In [43]:
row['rho'], row['rho p'], row['rho q']

(253    0.989897
 Name: rho, dtype: float64,
 253    0.989706
 Name: rho p, dtype: float64,
 253    0.980021
 Name: rho q, dtype: float64)

253    1.979793
Name: rho, dtype: float64

In [49]:
payoffs_of_q(row['rho p'], row['rho q'], b=3, c=1)

253    1.989099
dtype: float64

In [46]:
row

,player index,co player index,p1,p2,p3,p4,q1,q2,q3,q4,...,cc,cd,dc,dd,rho,rho p,rho q,x,y,y / x
253,15,14,1,1,1,0,1,1,0,1,...,0.969932,0.019775,0.010089,0.000205,0.989897,0.989706,0.980021,0.00019,0.009876,51.897664

In [108]:
row['rho'] - row['rho p']

109   -1.700000e-10
dtype: float64

In [111]:
row['rho'] - row['rho q']

109   -0.49
dtype: float64

In [114]:
row['y']

109   -0.49
Name: y, dtype: float64

In [93]:
payoffs_of_p(0.5, 2, 1)

0.5

In [94]:
payoffs_of_q(0.5, 0.2, 2, 1)

0.8

In [91]:
payoffs_of_q(row['rho p'].iloc[0], row['rho q'].iloc[0], b=row['y / x'].iloc[0] - 0.001, c=1)

735000179.2111816

In [77]:
row['rho'].iloc[0] * row['y / x'].iloc[0] - row['rho'].iloc[0] * 1

735000179.2114366

In [79]:
row['rho p'].iloc[0] * row['y / x'].iloc[0] - row['rho q'].iloc[0] * 1

735000179.2114366

In [89]:
row['rho p'].iloc[0] * 2 - row['rho q'].iloc[0], row['rho'].iloc[0] * 2 - row['rho'].iloc[0]

(-0.23499999926000004, 0.2550000002)

In [26]:
index = 5

two_bit[(two_bit['player index'] == index) & (two_bit['co player index'] == index)].iloc[0][2:6]

p1    0.0
p2    1.0
p3    0.0
p4    0.0
Name: 100, dtype: float64

### Three bits

In [21]:
three_bit = prepare_data(8)

In [22]:
three_bit

,player index,co player index,p1,p2,p3,p4,p5,p6,p7,p8,...,cc,cd,dc,dd,rho,rho p,rho q,x,y,y / x
0,157,1,1,0,0,1,1,1,0,0,...,0.000293,0.029015,0.009707,0.960985,0.503265,0.029308,0.010000,0.473957,0.493265,1.040738
1,157,2,1,0,0,1,1,1,0,0,...,0.111159,0.226630,0.217875,0.444335,0.503265,0.337790,0.329035,0.165475,0.174230,1.052908
2,157,3,1,0,0,1,1,1,0,0,...,0.017460,0.060853,0.018306,0.903381,0.503265,0.078313,0.035766,0.424952,0.467499,1.100121
3,157,4,1,0,0,1,1,1,0,0,...,0.193975,0.209113,0.198761,0.398151,0.503265,0.403088,0.392736,0.100177,0.110529,1.103332
4,157,5,1,0,0,1,1,1,0,0,...,0.015943,0.045318,0.018380,0.920359,0.503265,0.061261,0.034323,0.442005,0.468942,1.060945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,27,252,0,0,0,1,1,0,1,0,...,0.134980,0.003924,0.730952,0.130144,0.297594,0.138904,0.865931,0.158690,-0.568338,-3.581438
65532,27,253,0,0,0,1,1,0,1,0,...,0.230394,0.140705,0.371234,0.257667,0.297594,0.371099,0.601628,-0.073505,-0.304035,4.136220
65533,27,254,0,0,0,1,1,0,1,0,...,0.172667,0.006500,0.654679,0.166154,0.297594,0.179166,0.827346,0.118427,-0.529752,-4.473231
65534,27,255,0,0,0,1,1,0,1,0,...,0.209989,0.105719,0.425460,0.258832,0.297594,0.315708,0.635449,-0.018114,-0.337855,18.651632
65535,27,256,0,0,0,1,1,0,1,0,...,0.019601,0.000198,0.970399,0.009802,0.297594,0.019799,0.990000,0.277795,-0.692406,-2.492512

In [127]:
three_bit = three_bit.sort_values('player index')

In [128]:
sets = vaquero_method(three_bit)

In [129]:
df = pd.DataFrame(sets, columns=['player index', 'Q1 (y / x)', 'Q2 (y / x)', 'Q3 (indices)', 'Q4 (indices)'])

In [130]:
Q3_empty = []
Q4_empty = []

for i, row in df.iterrows():
    Q3_empty.append(len(row['Q3 (indices)']) == 0)
    Q4_empty.append(len(row['Q4 (indices)']) == 0)

In [131]:
df['Q3 empty'] = Q3_empty
df['Q4 empty'] = Q4_empty

In [132]:
df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)]

,player index,Q1 (y / x),Q2 (y / x),Q3 (indices),Q4 (indices),Q3 empty,Q4 empty
0,1,[],[],[],[],True,True
2,3,"[2.1001929949428306, 2.1358696922160805, 2.113...","[4.426272475846901, 1.0454759057798695, 6.8511...",[],[],True,True
4,5,"[0.7878532603527855, 0.35133089983325466, 0.82...","[1.0918229259155434, 13.075507275722478, 1.160...",[],[],True,True
8,9,"[52.30969477049199, 52.04859561111178]","[4.522248449893896, 35.47163558736799, 4.85328...",[],[],True,True
10,11,"[2.1156963708681378, 2.1165644709830227, 2.038...","[5.485695387655202, 8.662950857996368, 4.25870...",[],[],True,True
12,13,"[0.9586607792381594, 0.6226693890079458, 0.999...","[5.902087850346785, 1927733381.6056175, 5.0212...",[],[],True,True
16,17,"[0.8124763937952045, 1.0626196093008242, 1.062...","[1.0633465854616213, 13.633630504273109, 1.186...",[],[],True,True
24,25,"[1.061551115358093, 0.3924669546862254, 14.967...","[4.95780694927603, 4.56185495958249, 2.0824016...",[],[],True,True
32,33,"[2.016413547104868, 0.9999052185132165, 1.0099...","[5.995964905399071, 5.945628120440939, 5.00472...",[],[],True,True
34,35,"[1.041232819593638, 0.7135921390125219, 0.9554...","[401.6827721781851, 1.817913203581593, 1.37384...",[],[],True,True
40,41,"[1.84011343419029, 1.2979600098524084, 1.28776...","[13.861927291147538, 3.411066605125732, 1.4326...",[],[],True,True
56,57,"[1.0306770058699295, 0.8329914819143026, 1.008...","[1.0603801076809216, 1.851617329539637, 4.2546...",[],[],True,True
64,65,"[52.05874653575764, 1.9089026916753498, 51.797...","[4.516243421229669, 2.0994040625785986, 53.051...",[],[],True,True
68,69,"[0.9587874342570774, 1.041160708265067, 0.8774...","[1.1200906863460087, 405.4529440765656, 31.114...",[],[],True,True
72,73,"[1.0405993881929971, 1.0014191946754645, 0.980...","[68.48761989048664, 20.369013301841797, 1.5140...",[],[],True,True
76,77,"[1.0282845317288989, 1.0011877855642883, 1.032...","[1.4999354059479157, 1.2261708159081204, 1.108...",[],[],True,True
80,81,"[0.9985124687364868, 1.041321668999967, 1.0409...","[1.1284869796019346, 1.0413379781569698, 1.083...",[],[],True,True
98,99,"[1.0300879225712858, 0.9351504337310331, 1.018...","[1.127715740449109, 4.1935937418975735, 1.1230...",[],[],True,True
104,105,"[1.021815980799165, 1.0016631639451568, 1.0213...","[1.0037399833565597, 1.4637591011140767, 2.577...",[],[],True,True
112,113,"[1.037741171701842, 1.0291091241137724, 1.0291...","[1.2583125421768455, 1.1651707269627232, 5.176...",[],[],True,True
128,129,[1098.424409550006],"[1.5355726228510536, 2.053392624729405, 2499.1...",[],[],True,True
130,131,"[2.0919154968812195, 2.147819021656198, 2.0838...","[4.286467218002866, 1.5452148944924569, 5.9434...",[],[],True,True
132,133,"[0.8275462921680605, 0.897123300933792, 0.8352...","[1.5322908786243539, 1.0377961413513013, 5.022...",[],[],True,True
136,137,"[0.7077987175374336, 19.517392405844195, 1.0, ...","[2.8550691195004805, 1.049786962764776, 15.738...",[],[],True,True
138,139,"[1.4283009315055857, 0.3158986321897661, 1.430...","[1.0128840933632526, 1.030868815194655, 3.1570...",[],[],True,True
140,141,"[0.9998671512578304, 0.7988620957620287, 1.039...","[3.9299412271466996, 2.3747607830382975, 4.792...",[],[],True,True
144,145,"[1.0626072460645477, 1.0626743316202598, 0.938...","[1.7874789517321312, 4.431568421345562, 1.7804...",[],[],True,True
160,161,"[1.51299461154125, 1.0050531675441927, 0.99999...","[53.6459498169817, 2.030114538392577, 1.694787...",[],[],True,True
162,163,"[0.8393044744684456, 0.9845820527319102, 0.876...","[1.4484970013505059, 1.0307140315654864, 18.47...",[],[],True,True
168,169,"[1.08700933224363, 1.0676860656774503, 1.06471...","[1.0707548036407284, 1.0135201432457521, 1.130...",[],[],True,True
176,177,"[1.0367622172839501, 1.0368222216074197, 1.031...","[7.246282263233202, 1.932293403950895, 1.79936...",[],[],True,True
192,193,"[1.0007745487264164, 33.90971799279409, 1.9710...","[50.942914531559325, 51.24207565610733, 1.6732...",[],[],True,True
196,197,"[0.4140919450709447, 1.0006805487256907, 1.039...","[1.5175486750933873, 1.6991584388971448, 35.57...",[],[],True,True
200,201,"[1.0117939515268108, 0.3498805571490262, 0.996...","[1.0104068654421599, 1.2149141926735554, 1.018...",[],[],True,True
202,203,"[1.0009603697028218, 0.6826018092083137, 1.077...","[0.5835126534615659, 0.5879418567600196, 0.827...",[],[],True,True
208,209,"[1.0273360683614534, 1.034109512029211, 1.0002...","[1.6077781844090602, 1.8571336590846867, 2.871...",[],[],True,True
224,225,"[1.577466267851421, 1.0013760284632358, 1.3685...","[1.258799074078266, 1.9528982550725584, 1.3367...",[],[],True,True
235,236,"[3.411361725324963, 2.647335966388151, 1.05815...","[0.3068621378599921, 0.44538842621551794, 2.05...",[],[],True,True
249,250,"[3.321666280760824, 20.560215114606276, 20.957...","[2.815303281208396, 11.763874873756928, 1.9729...",[],[],True,True
252,253,"[4.617203526783894, 3.3557105126457505, 5.3093...","[1.0666006412541764, 1.9714365481140586, 1.066...",[],[],True,True
253,254,"[103.08183916112849, 103.0528188235599, 53.051...","[51.794215890015245, 52.054919409949264, 1.921...",[],[],True,True
254,255,"[704.1302215238138, 41.493412472482845, 66.073...",[785.0000744293586],[],[],True,True

In [133]:
for i, row in df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)].iterrows():
    ub = False
    lb = False
    
    if row['Q1 (y / x)']:
        lb = max(row['Q1 (y / x)'])
    if row['Q2 (y / x)']:
        ub = min(row['Q2 (y / x)'])
    if lb <= ub:
    
        print(f"{row['player index']}: {lb} <= b/c <= {ub}")

1: False <= b/c <= False
35: 1.0412328199480185 <= b/c <= 1.0424536300792253
69: 1.0412328408761917 <= b/c <= 1.0436048213156999

In [108]:
index = 35

three_bit[(three_bit['player index'] == index) & (three_bit['co player index'] == index)]

,player index,co player index,p1,p2,p3,p4,p5,p6,p7,p8,...,cc,cd,dc,dd,rho,rho p,rho q,x,y,y / x
14242,35,35,0,0,1,0,0,0,1,0,...,0.005048,0.249952,0.249952,0.495048,0.255,0.255,0.255,0.0,0.0,NaN

In [54]:
index = 35

three_bit[(three_bit['player index'] == index) & (three_bit['co player index'] == index)].iloc[0][2:]

p1       0.000000
p2       0.000000
p3       1.000000
p4       0.000000
p5       0.000000
p6       0.000000
p7       1.000000
p8       0.000000
q1       0.000000
q2       0.000000
q3       1.000000
q4       0.000000
q5       0.000000
q6       0.000000
q7       1.000000
q8       0.000000
e        0.010000
cc       0.005048
cd       0.249952
dc       0.249952
dd       0.495048
rho      0.255000
rho p    0.255000
rho q    0.255000
x        0.000000
y        0.000000
y / x         NaN
Name: 3426, dtype: float64

In [55]:
import itertools

In [56]:
list(itertools.product(['C', 'D'], repeat=3))

[('C', 'C', 'C'),
 ('C', 'C', 'D'),
 ('C', 'D', 'C'),
 ('C', 'D', 'D'),
 ('D', 'C', 'C'),
 ('D', 'C', 'D'),
 ('D', 'D', 'C'),
 ('D', 'D', 'D')]

### Four bits

In [57]:
four_bit = prepare_data(16)

In [58]:
sets = vaquero_method(four_bit)

In [59]:
df = pd.DataFrame(sets, columns=['player index', 'Q1 (y / x)', 'Q2 (y / x)', 'Q3 (indices)', 'Q4 (indices)'])

In [60]:
Q3_empty = []
Q4_empty = []

for i, row in df.iterrows():
    Q3_empty.append(len(row['Q3 (indices)']) == 0)
    Q4_empty.append(len(row['Q4 (indices)']) == 0)

In [61]:
df['Q3 empty'] = Q3_empty
df['Q4 empty'] = Q4_empty

In [62]:
df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)]

,player index,Q1 (y / x),Q2 (y / x),Q3 (indices),Q4 (indices),Q3 empty,Q4 empty
0,1,[],"[470691842700.7444, 4754463058.078226, 4754463...",[],[],True,True
2,3,"[2.147340278653103, 2.1351953799526076, 2.1356...","[5.693177909845503, 8.232698998023187, 5.76735...",[],[],True,True
4,5,"[1.0847249330974662, 1.0866014890150115, 0.760...","[1.0830785947030641, 0.9748031769471045, 4.328...",[],[],True,True
8,9,"[53.351602927097574, 53.35170801682954]","[5.995437172999901, 53.08052068238932, 6.97652...",[],[],True,True
10,11,"[2.1244617651580415, 4.13316579705317, 2.10199...","[1.0704277555715214, 2.0948818659426056, 4.170...",[],[],True,True
12,13,"[1.0625931095255743, 1.0625931091050795, 1.062...","[14.241719468353864, 7.3041736193454065, 14.11...",[],[],True,True
14,15,"[1.6139154900415313, 2.2220863658042926, 3.019...","[0.9939779892705667, 1.6719006289802911, 1.706...",[],[],True,True
16,17,"[1.0818203313761483, 0.9985374769968246, 0.765...","[0.850970862731302, 1.2414917367178695, 1.1082...",[],[],True,True
24,25,"[1.0652778637777383, 1.1313037772823442, 1.085...","[14.108403244944654, 0.9961983476474952, 74.07...",[],[],True,True
32,33,"[2.0420346590887632, 1.0102098714812207, 0.999...","[10661.733062446496, 36.54546559617723, 10252....",[],[],True,True
34,35,"[1.0414495046715793, 1.0410430945764835, 0.963...","[1.0829262785446159, 1.084613188047031, 8.9791...",[],[],True,True
40,41,"[2.913498987506889, 2.0124718719942547, 18.344...","[3.9867511170923793, 21.843862899804478, 4.975...",[],[],True,True
42,43,"[1.0418553493901674, 1.0422867815015315, 0.965...","[1.2140540007844112, 5.6510617658450055, 5.860...",[],[],True,True
48,49,"[1.059964907813595, 1.0533901524563405, 1.0531...","[1.0507652207482958, 1.1225402327100011, 0.991...",[],[],True,True
56,57,"[1.0458922402055062, 1.0513649980052173, 1.052...","[1.696325203505102, 1.547347841938926, 1.05810...",[],[],True,True
68,69,"[1.0628066922229975, 1.0641530981639142, 1.062...","[1.0001498552715355, 252.49825714692497, 12.23...",[],[],True,True
70,71,"[1.4244784008567208, 1.6270795996862781, 1.989...","[1.68196996577059, 15.471433098540807, 1.69983...",[],[],True,True
72,73,"[1.0419170119230037, 1.0018376619742901, 1.021...","[6.051662717546218, 7.064199270925838, 7.10854...",[],[],True,True
74,75,"[2.0875134496139585, 2.523394979910038, 2.0663...","[0.6821754974215049, 2.058835708506342, 2.3042...",[],[],True,True
76,77,"[1.0466774875158176, 1.047128677902404, 1.0529...","[1.048350405945064, 1.0820166364452515, 1.1712...",[],[],True,True
80,81,"[1.0590921771550148, 1.0879343434008293, 1.044...","[746.7994799033814, 1.7588744639093827, 64.854...",[],[],True,True
88,89,"[1.046727374855978, 1.0699556894122724, 1.0532...","[1.020139831499439, 1.1105750356453634, 1.0714...",[],[],True,True
96,97,"[2.911380532637285, 2.0122337973432436, 18.046...","[1526.1172973368496, 21.805977156518324, 1789....",[],[],True,True
98,99,"[1.041864630343349, 1.0422806716333992, 0.9655...","[216.64840561774113, 2.264674551402985, 4.2040...",[],[],True,True
100,101,"[1.0523780312509174, 1.0539923506930895, 1.079...","[139.9633149900229, 1.0272713310261514, 40.965...",[],[],True,True
104,105,"[1.060960195578509, 1.0225329342434646, 1.0416...","[3.9234222100719247, 5.012234404526788, 4.8562...",[],[],True,True
106,107,"[1.0422604642485729, 1.0435304637153067, 0.968...","[0.011133795883178596, 5.220312995293466, 7.57...",[],[],True,True
108,109,"[1.0414676223134023, 1.0426390495624105, 1.061...","[1.2328195772510484, 1.065243073413476, 1.0875...",[],[],True,True
112,113,"[1.044348340322823, 1.0480192223824094, 1.0487...","[1.0756057717257046, 45.70154972072775, 1.2015...",[],[],True,True
120,121,"[1.038728577589423, 1.054146390458263, 1.05423...","[2.271214781919328, 1.7640367779138741, 6.1703...",[],[],True,True
128,129,[3478.4193525191263],"[4.563848451702662, 3447.7497335245507, 5.5340...",[],[],True,True
130,131,"[2.1354912584701258, 5993.737054997678, 2.1235...","[2.1483873380458243, 1.5910496789317807, 6.215...",[],[],True,True
132,133,"[1.0843750095826195, 1.0862051112188271, 1.083...","[39.25957691106526, 1.0827523313383796, 25.944...",[],[],True,True
136,137,"[35.60384094788776, 1.0808072220655314, 1.1093...","[1.5628011178609076, 52.542339929925376, 2.062...",[],[],True,True
138,139,"[2.091694201329405, 2.396123421523422, 2.06980...","[1.0006645514322274, 1.0221790302326839, 1.055...",[],[],True,True
140,141,"[1.062475872594191, 1.0624941500410614, 1.0648...","[2.627890453651213, 4.20085559025101, 2.270550...",[],[],True,True
144,145,"[1.0815077912444575, 1.0033975354696116, 0.762...","[0.8314076735937079, 440.29927103761685, 4.013...",[],[],True,True
152,153,"[1.0652614043008637, 1.1322478405964427, 1.087...","[2.5957253614873266, 3.6953106177442887, 3.889...",[],[],True,True
160,161,"[2.0263883905084343, 1.020731878527269, 1.8473...","[4.516912471889544, 36.237117219119284, 5.3873...",[],[],True,True
162,163,"[1.0408385235020112, 1.040815285994819, 0.9641...","[1.3405683420223873, 1.3361160942684356, 5.704...",[],[],True,True
168,169,"[2.861159587394175, 1.979719705914039, 13.5675...","[1.5377361688586149, 21.775992328999486, 2.018...",[],[],True,True
170,171,"[1.0412328196059046, 1.0420332348701822, 0.966...","[0.9967463172616343, 1.0408471490371722, 1.466...",[],[],True,True
176,177,"[1.0567861624589414, 1.0453006764612607, 1.044...","[1.3887637797966488, 1.3170132750170034, 36.97...",[],[],True,True
178,179,"[1.0411679435826569, 0.5266979277631134, 1.059...","[3.0749647456918154, 3.4054835608070966, 6.270...",[],[],True,True
196,197,"[1.0624706684684444, 1.0637826301668565, 1.062...","[105.14176502740838, 77.86606671808383, 0.7688...",[],[],True,True
200,201,"[1.0408040501637885, 1.0017998008888813, 1.020...","[1.5579934447510742, 2.062638063981475, 1.5930...",[],[],True,True
202,203,"[2.051629022294981, 2.053041409490842, 2.03106...","[0.6536050077342452, 1.0146438947991958, 0.705...",[],[],True,True
204,205,"[1.041232819593638, 1.0412328193571014, 1.0412...","[202.34982194370278, 7.92772098785228, 1.12825...",[],[],True,True
208,209,"[1.058801753292983, 1.0867506256938408, 1.0444...","[9.76796133439562, 31.32623192252931, 373.0280...",[],[],True,True
216,217,"[1.0442770566235975, 1.0617204833282319, 1.047...","[14.71938124480094, 19.55849098555921, 17.0054...",[],[],True,True
226,227,"[1.041241069307812, 0.4463343710764371, 1.0420...","[2.5402036630604243, 1.1905640957311552, 225.3...",[],[],True,True
228,229,"[1.0520406995599112, 1.0536216304138881, 1.077...","[24.848703907123316, 1.4509302935444017, 7.153...",[],[],True,True
232,233,"[1.0592407171647622, 1.021845889005284, 1.0405...","[1.518557235604111, 2.0188769746723048, 1.5498...",[],[],True,True
236,237,"[1.036257811781945, 1.0369420228679334, 1.0482...","[15.982969605447138, 3.3077205320258867, 6.737...",[],[],True,True
240,241,"[1.0412328196059046, 1.0412328161739008, 1.041...","[1.687458364990709, 1.494391882368467, 8.70042...",[],[],True,True
248,249,"[1.0366100968999166, 1.0490759240963756, 1.049...","[1.3105996130047801, 4.055698035027018, 2.0363...",[],[],True,True

In [65]:
indices = []
lbounds = []
ubounds = []
for i, row in df[(df['Q3 empty'] == True) & (df['Q4 empty'] == True)].iterrows():
    ub = False
    lb = False
    
    if row['Q1 (y / x)']:
        lb = max(row['Q1 (y / x)'])
    if row['Q2 (y / x)']:
        ub = min(row['Q2 (y / x)'])
        
    if lb <= ub:
    
        print(f"{row['player index']}: {lb} <= b/c <= {ub}", f"-{lb <= ub}")
        indices.append(row['player index'])
        lbounds.append(round(lb, 3))
        ubounds.append(round(ub, 3))

1: False <= b/c <= 485101.21231723594 -True
35: 1.0414495046715793 <= b/c <= 1.0415829926006013 -True
73: 1.0419170119230037 <= b/c <= 1.047882076486478 -True
163: 1.0413538739633985 <= b/c <= 1.0415574235985448 -True
205: 1.0412328937089776 <= b/c <= 1.0426671633511733 -True
209: 1.0867506256938408 <= b/c <= 1.789273796073751 -True

In [181]:
columns = [f'p{i}' for i in range(1, 17)] + ['rho']

table = four_bit[(four_bit['player index'].isin(indices))][columns].drop_duplicates().reset_index(drop=True).round(3)

In [183]:
table['lb'] = lbounds
table['ub'] = ubounds

In [186]:
table.to_latex()

'\\begin{tabular}{lrrrrrrrrrrrrrrrrrrr}\n\\toprule\n{} &  p1 &  p2 &  p3 &  p4 &  p5 &  p6 &  p7 &  p8 &  p9 &  p10 &  p11 &  p12 &  p13 &  p14 &  p15 &  p16 &    rho &     lb &          ub \\\\\n\\midrule\n0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &    0 &    0 &    0 &    0 &    0 &    0 &    0 &  0.010 &  0.000 &  485101.212 \\\\\n1 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &    1 &    0 &    0 &    1 &    0 &    0 &    0 &  0.015 &  1.041 &       1.042 \\\\\n2 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   1 &    1 &    0 &    0 &    1 &    1 &    0 &    0 &  0.255 &  1.042 &       1.048 \\\\\n3 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   1 &    0 &    1 &    0 &    0 &    0 &    1 &    0 &  0.255 &  1.041 &       1.042 \\\\\n4 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &    0 &    1 &    0 &    0 &    0 &    1 &    0 &  0.251 &  1.041 &       1.043 \\\\\n5 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   0 &   1 &    1 &    0 &    1 &    0 &    0 &    0 &    0 &  0.183 &  1.087 &       1.789 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [187]:
f = open("pure_nash_table.txt", "w")
f.write(table.to_latex())
f.close()

In [188]:
4 ** 2

16

In [69]:
2 ** 16

65536

In [70]:
4 ** 2

16

In [71]:
8 ** 2

64

In [74]:
2 ** 2, one_bit['player index'].unique()

(4, array([1, 3, 2, 4]))

In [75]:
4 ** 2, two_bit['player index'].unique()

(16, array([ 8,  9,  2,  3,  1,  4,  5,  7,  6, 11, 10, 12, 13, 16, 14, 15]))

In [76]:
8 ** 2, three_bit['player index'].unique()

(64,
 array([16, 17, 29, 15, 14, 28, 10, 38, 39, 11, 13, 12, 49, 61, 60, 48, 62,
         8,  9, 63, 64, 58, 59, 40, 54,  2,  3, 55, 41, 57, 43,  1, 42, 56,
        52, 46,  4,  5, 47, 53, 45, 51,  7,  6, 50, 44, 23, 37, 36, 22, 34,
        20, 21, 35, 31, 25, 19, 18, 24, 30, 26, 32, 33, 27]))

In [77]:
four_bit['player index'].unique()

array([ 58,  70,  64, 206,   1, 212, 158, 170, 164, 165, 171, 159, 213,
       207,  65,  71,  59,  98,  67,  73, 239, 211,   2, 205, 167, 173,
       198, 199, 172, 166, 204, 210,   3, 238,  72,  66,  99,  89,  62,
        76,   7, 214, 200, 228, 162, 176, 189, 188, 177, 163, 229, 201,
         6, 215,  77,  63,  88,  75,  61,  49, 203, 217,   4, 175, 161,
       149, 148, 160, 174, 216,   5, 202,  48,  60,  74,  13, 113, 107,
       106, 112,  12,  38,  10, 138, 104, 110, 111, 105, 139,  11,  39,
        15,  29, 101, 115, 129, 128, 114, 100,  28,  14,  16, 248, 116,
       102, 103, 117, 249,  17,  32,  26, 244, 250, 132, 126, 127, 133,
       251, 245,  27,  33,  19,  25,  31, 253, 247, 119, 125, 131, 130,
       124, 118, 246, 252,  30,  24,  18,  20,  34, 256, 242, 120, 134,
       108, 109, 135, 121, 243,  35,  21,  37,  23, 241, 255, 137, 123,
       122, 136, 254, 240,  22,  36,  92,  86,  79,  51,  45,   8, 227,
       233, 179, 151, 145, 192, 186, 187, 193, 144, 150, 178, 232, 226,
         9,  44,  50,  78,  87,  93,  85,  91,  46,  52, 218, 230, 224,
       146, 152, 185, 191, 190, 184, 153, 147, 225, 231, 219,  53,  47,
        90,  84,  80,  94,  43,  57, 235, 221, 209, 143, 157, 180, 194,
       195, 181, 156, 142, 208, 220, 234,  56,  42,  95,  81,  97,  83,
        54,  40,  68, 222, 236, 154, 140, 168, 197, 183, 182, 196, 169,
       141, 155, 237, 223,  69,  41,  55,  82,  96])

In [78]:
4 * 4 * 4 * 4

256

In [80]:
4 ** 2, 2 ** 4

(16, 16)

In [81]:
8 ** 2, 2 ** 8

(64, 256)